@media only screen and (min-width:650px) and (max-width: 850px) {
    .container{
        max-width: 80%;
    }

    .search-container{
        min-height:200px; 
        padding: 15px;
    }

    input[type="text"]{
        max-width: 350px;
    }

    main .desc-chart{
        grid-template-columns: repeat(1, 1fr);
    }

    canvas#myChart1{
        max-height: 400px;
    }

    canvas#myChart1{
        max-height: 500px;
        max-width: 500px;
        width: 100%;
    }


    footer{
        max-width: 80%;
    }
}